/node_modules
/public
/public/hot
/public/storage
/public/cinixstudios.com
/public/adminlte
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
palmareal.sublime-project
palmareal.sublime-workspace
